@font-face {
  font-family: 'ralewaythin_italic';
  src: url('fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaythin';
  src: url('fonts/raleway-thin-webfont.woff2') format('woff2'),
       url('fonts/raleway-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaysemibold_italic';
  src: url('fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaysemibold';
  src: url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
       url('fonts/raleway-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaymedium_italic';
  src: url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaymedium';
  src: url('fonts/raleway-medium-webfont.woff2') format('woff2'),
       url('fonts/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaylight_italic';
  src: url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaylight';
  src: url('fonts/raleway-light-webfont.woff2') format('woff2'),
       url('fonts/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayitalic';
  src: url('fonts/raleway-italic-webfont.woff2') format('woff2'),
       url('fonts/raleway-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayextralight_italic';
  src: url('fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),
       url('fonts/raleway-extralightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayextralight';
  src: url('fonts/raleway-extralight-webfont.woff2') format('woff2'),
       url('fonts/raleway-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-dark: #0f141e;
  --color-grey: #515151;

  --font-weight-bold: 'ralewaysemibold';
  --font-weight-regular: 'ralewayregular';

  --font-size-large: 3.2rem;
  --font-size-medium: 2.4rem;
  --font-size-small: 1.8rem;
  --font-size-logo-name: 2.4rem;
  --font-size-logo-role: 1.4rem;

  --content-width: 960px;
}

.u-overline {
  display: inline-block;
  border-top: 2px solid var(--color-dark);
  padding-top: 10px;
}

/* ----------------------------------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
  font-family: 'ralewayregular', Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.logo__name {
  font-family: var(--font-weight-bold);
  font-size: var(--font-size-logo-name);
  color: var(--color-dark);
}

.logo__role {
  font-family: var(--font-weight-small);
  letter-spacing: 1.3px;
  font-size: var(--font-size-logo-role);
  color: var(--color-grey);
}

.content {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 6rem;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0;
}

.section > header {
  font-family: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  color: var(--color-dark);
  text-transform: uppercase;
  letter-spacing: 3px;
  flex: 3;
}

.section > div {
  font-family: var(--font-weight-regular);
  font-size: var(--font-size-small);
  color: var(--color-grey);
  flex: 4;
}

.section > div > p:not(:last-child) {
  margin-bottom: 2rem;
}

.about__biography > p:first-child {
  font-family: var(--font-weight-bold);
}

.about__technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about__technologies > * {
  border: 1px solid black;
}