.about {
  &__biography {
    margin-bottom: 3rem;
  }

  &__stats {
    grid-column: 1 / -1;
    background-color: $color-white;
    border: 1px solid lighten($color-grey-dark-2, 90%);
    padding: 5rem;
    border-radius: 5px;
    box-shadow: $box-shadow;
    font-family: $font-heading;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    position: relative;
    overflow: hidden;
  }

  &__stat {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__picture {
    background-image: url("../img/SVG/launch-project.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    animation: floating 5s ease-in-out infinite;
    animation-delay: 0s;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes floating {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(-1rem);
  }
}