.blog {
  &__story {
    padding: 2rem;
    background-color: $color-white;
    height: 35rem;
    border-radius: 2px;
    box-shadow: $box-shadow;
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: $box-shadow-dark;
      transform: translateY(-1rem);
    }
  }

  &__img {
    display: block;
    border: 1px solid black;
  }
}