.blog {
  &__story {
    padding: 3rem;
    background-color: $color-white;
    border-radius: 2px;
    box-shadow: $box-shadow;
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: $box-shadow-dark;
      transform: translateY(-1rem);
    }
  }

  &__img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    display: block;
    margin: 3rem 0;
    border-radius: 5px;
  }

  &__title {
    font-weight: $font-weight-normal;
  }
}