.header {
  display: flex;
  height: 12rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }
}

.contact {
  a {
    display: inline-block;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 1;
    fill: $color-grey-dark-1;
    transition: all .3s ease-in-out;
  }

  a:not(:last-child) {
    margin-right: 2.5rem;
  }

  a:hover svg {
    transform: translateY(-0.5rem);
    opacity: 0.5;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    height: 6rem;
  }

  &__name {
    margin-left: 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-bottom: 3rem;
  }
}