.project {
  border-radius: 2px;
  background-color: $color-grey-dark-1;
  padding: 3rem;
  box-shadow: $box-shadow;

  &__name {
    color: $color-white;
    max-width: 60%;
    font-size: $font-size-medium;
    font-family: $font-heading;
  }
}