.project {
  border-radius: 2px;
  padding: 3rem;
  box-shadow: $box-shadow;
  background-size: cover;

  &__name {
    
  }

  &--nexter {
    background-image: url(../../img/nexter.png);
  }

  &--github {
    background-image: url(../../img/github.png);
  }

  &--natours {
    background-image: url(../../img/natours.png);
  }

  &--exchange {
    background-image: url(../../img/exchange.png);
  }

  &--weather {
    background-image: url(../../img/weather.png);
  }

  &--trillo {
    background-image: url(../../img/trillo.png);
  }
}