.projects > :last-child {
  margin-top: 10rem;
}

.project {
  border-radius: 2px;
  box-shadow: $box-shadow;
  background-size: cover;
  transition: all .5s;
  display: grid;
  place-items: center;
  text-decoration: none;
  position: relative;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: $box-shadow-dark;

    .project__github {
      opacity: 1;
      transform: translateY(-2rem);
    }

    .project__name {
      font-size: 140%;
    }
  }

  &__name {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    font-family: $font-heading;
    text-align: center;
    color: $color-white;
    transition: all .5s;
  }

  &__github {
    position: absolute;
    top: 4rem;
    right: 2rem;
    fill: $color-white;
    width: 4rem;
    height: 4rem;
    opacity: 0;
    transition: all .4s ease-in-out;
  }

  &--nexter {
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, 0.75), rgba($color-grey-dark-1, 0.75)), url(../img/nexter.png);
  }

  &--github {
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, 0.75), rgba($color-grey-dark-1, 0.75)), url(../img/github.png);
  }

  &--natours {
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, 0.75), rgba($color-grey-dark-1, 0.75)), url(../img/natours.png);
  }

  &--exchange {
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, 0.75), rgba($color-grey-dark-1, 0.75)), url(../img/exchange.png);
  }

  &--weather {
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, 0.75), rgba($color-grey-dark-1, 0.75)), url(../img/weather.png);
  }

  &--trillo {
    background-image: linear-gradient(to right, rgba($color-grey-dark-1, 0.75), rgba($color-grey-dark-1, 0.75)), url(../img/trillo.png);
  }
}
