.showcase {
  display: grid;
  place-items: center;
  height: calc(100vh - 12rem);

  &__title {
    transform: translateY(-8rem);
    font-size: $font-size-huge;
    font-weight: $font-weight-light;
  }

  &__name {
    color: $color-secondary;
    font-weight: $font-weight-normal;
  }

  &__txt {
    border-right: 0.4rem solid $color-secondary;
  }
}