.skills {
  &__type {
    margin-top: 3rem;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-medium;
    color: $color-grey-light-3;
  }

  &__container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 4rem;
    color: $color-grey-light-3;
    font-weight: $font-weight-light;
    letter-spacing: 2px;

    &:hover .skill svg {
      filter: grayscale(0);
    }
  }
}

.skill {
  justify-self: center;
  display: grid;
  justify-items: center;

  svg {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    filter: grayscale(60%);
    transition: all .3s ease-in-out .1s;
  }

  &--flexbox {
    fill: #2e8b57;
  }

  &--grid {
    fill: #dc143c;
  }

  &--bem {
    img {
      height: 5rem;
      width: 5rem;
      margin-bottom: 1rem;
    }
  }
}