.skills {
  &__type {
    margin-top: 4rem;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-medium;
  }

  &__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    color: $color-grey-light-3;
    font-weight: $font-weight-light;
    letter-spacing: 3px;
  }

  &__frontend {

  }

  &__tools {

  }

  &__soft-skills {

  }
}