// COLOR VARIABLES
$color-primary: #00d4ff;
$color-secondary: #635bff;

$color-grey-dark-1: #0a2540;
$color-grey-dark-2: #425466;
$color-grey-light-1: #878b94;
$color-grey-light-2: #f6f9fc;
$color-grey-light-3: #adbdcc;

$color-white: #fff;

// FONT VARIABLES
$font-content: 'Raleway', sans-serif;
$font-heading: 'Nunito Sans', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-light: 400;

$font-size-large: 6rem;
$font-size-medium: 2.4rem;
$font-size-small: 1.8rem;
$font-size-xs: 1.4rem;

// PADDING VARIABLES
$padding-section: 10rem;

// BOX SHADOW
$box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086);
$box-shadow-dark:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12); 

// GLOBAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-content;
  color: $color-grey-dark-2;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  line-height: 1.6;
}

.container {
  max-width: 65em;
  margin: 0 auto;
  padding: 0 8rem;
  display: grid;
  grid-gap: 6rem 6rem;

  &--about {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }

  &--skills {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  &--projects {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-auto-rows: 38vw;
    margin-top: 8rem;
  }

  &--blog {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
  }
}