// LOGO
.logo-name-text {
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;
  color: $color-grey-dark-1;
}

.logo-occupation-text {
  font-size: $font-size-xs;
  color: $color-grey-light-1;
  letter-spacing: 0.6px;
}

// HEADINGS
.heading-2 {
  font-size: $font-size-large;
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  text-transform: lowercase;
  letter-spacing: -2px;
  grid-column: 1 / -1;
  margin-top: -3rem;
  margin-bottom: 2rem;

  &--light {
    color: $color-grey-dark-1;
  }

  &--dark {
    color: $color-white;
  }
}

.heading-3 {
  font-family: $font-heading;
  font-weight: $font-weight-bold;
  grid-column: 1 / -1;

  &--light {
    color: $color-secondary;
  }

  &--dark {
    color: $color-primary;
  }
}

// LINKS
.link {
  &:link,
  &:visited {
    text-decoration: none;
    font-weight: $font-weight-bold;
    transition: all .2s;
    display: inline-block;
  }

  &--light {
    color: $color-secondary;

    &:hover {
      color: $color-grey-dark-1;
    }
  }

  &--dark {
    color: $color-primary;
    
    &:hover {
      color: $color-white;
    }
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0.5px);
  }
}

.link-separator {
  font-size: $font-size-xs;
}