.showcase {
  height: 90vh;
  background-color: $color-white;
}

.about {
  padding: $padding-section 0;
  background-color: $color-grey-light-2;
}

.skills {
  padding: $padding-section 0;
  background-color: $color-grey-dark-1;
}

.projects {
  padding: $padding-section 0;
  background-color: $color-white;
}

.blog {
  padding: $padding-section 0;
  background-color: $color-grey-light-2;
}