.showcase {
  height: 90vh;
  background-color: $color-white;
}

.about {
  padding: $padding-section 0;
  background-color: $color-grey-light-2;
}

.skills {
  padding: 15rem 0 15rem 0;
  background-color: $color-grey-dark-1;
  clip-path: polygon(0 10%, 100% 4%, 100% 90%, 0 96%);
}

.projects {
  padding: $padding-section 0;
  background-color: $color-white;
}

.blog {
  padding: $padding-section 0;
  background-color: $color-grey-light-2;
}

.footer {
  padding: 3rem 0;
  background-color: $color-grey-dark-1;
}